
<form id="FilterForm" collection-handle="{{ collection.handle }}">
  <div class="CollectionFilterBox">
  {%- for filter in collection.filters -%}
    <div class="FilterItem">
      <div class="FilterLabel" onclick="FilterOpen(this)">
          <span>{{ filter.label }} </span>
          {% render 'icon-down-arrow' %}
      </div>

      <div class="FilterValues">
        <div class="FilterBody">
        <div class="ActiveFilter">
          <p>{{ filter.active_values.size }} selected</p>
          {%- if filter.active_values.size > 0 -%}
            <p><a href="{{ filter.url_to_remove }}">Reset</a></p>
          {%- endif -%}
        </div>
        {%- case filter.type -%}
          {%- when 'boolean' -%}
            <ul>
                <li class="{% if filter.true_value.count == 0 and filter.true_value.active == false -%}disabled{%- endif -%}">
                  <input type="checkbox"  onchange="filter_data(this)"
                    name="{{ filter.param_name }}"
                    value="{{ filter.true_value.value }}"
                    id="Filter-{{ filter.param_name }}"
                    {% if filter.true_value.active -%}checked{%- endif %}
                    {% if filter.true_value.count == 0 and filter.true_value.active == false -%}disabled{%- endif -%}
                  >
                  <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                  {{ filter.true_value.label }}</label>
                </li>
                <li class="{% if filter.false_value.count == 0 and filter.false_value.active == false -%}disabled{%- endif %}">
                  <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                  <input type="checkbox"  onchange="filter_data(this)"
                    name="{{ filter.param_name }}"
                    value="{{ filter.false_value.value }}"
                    id="Filter-{{ filter.param_name }}"
                    {% if filter.false_value.active -%}checked{%- endif %}
                    {% if filter.false_value.count == 0 and filter.false_value.active == false -%}disabled{%- endif %}
                  >{{ filter.false_value.label }}</label>
                </li>
            </ul>

            <div>
              <input type="submit" value="Apply">
            </div>
          {%- when 'list' -%}
            <ul>
              {%- for filter_value in filter.values -%}
                <li class=" {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}">
                  <input type="checkbox"  onchange="filter_data(this)"
                    name="{{ filter_value.param_name }}"
                    value="{{ filter_value.value }}"
                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                    {% if filter_value.active -%}checked{%- endif %}
                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                  >
                  <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                  
                    <span>
                      {%- case filter_value.display.type -%}
                        {%- when 'colors' -%}
                          {% liquid
                            assign size_limit = filter_value.display.value.size | at_most: 4
                            assign rotation = '0deg'
                            if size_limit == 2
                              assign rotation = '45deg'
                            endif

                            assign angle_increment = 360 | divided_by: size_limit
                            assign angle = 0
                          %}
                          {%- capture conic_gradient -%}
                            {%- for color in filter_value.display.value limit: size_limit -%}
                              {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                            {%- endfor -%}
                          {%- endcapture -%}
                          <span style="
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                          "></span>
                        {%- when 'image' -%}
                          {{
                            filter_value.display.value
                            | image_url: width: 25
                            | image_tag: alt: filter_value.display.value.alt
                          }}
                        {%- else -%}
                          <span class="visual-display__child"></span>
                      {%- endcase -%}
                    </span>
                    {{ filter_value.label }}
                  </label>
                </li>
              {%- endfor -%}
            </ul>

            <div>
              <input type="submit" value="Apply">
            </div>
          {%- when 'price_range' -%}
            <div class="filter-group-display__price-range">
              <div class="filter-group-display__price-range-from">
                <span>{{ cart.currency.symbol }}</span>

                <input name="{{ filter.min_value.param_name }}"
                  id="Filter-{{ filter.min_value.param_name }}"
                  {% if filter.min_value.value -%}
                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="0"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.min_value.param_name }}">From</label>
              </div>
              <div class="filter-group-display__price-range-to">
                <span>{{ cart.currency.symbol }}</span>

                <input name="{{ filter.max_value.param_name }}"
                  id="Filter-{{ filter.max_value.param_name }}"
                  {% if filter.max_value.value -%}
                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.max_value.param_name }}">To</label>
              </div>
            </div>

            <div class="filter-group-display__submit">
            <button class="secondary-button">Apply</button>
            </div>
        {%- endcase -%}
      </div>
      </div>
    </div>
  {%- endfor -%}
    <div class="SortBySelect">
    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
     <div class="FilterItem">
      <div class="FilterLabel" onclick="FilterOpen(this)">
          <span>{%- for option in collection.sort_options -%}{% if option.value == sort_by %}{{ option.name }}{% endif %}{% endfor %}</span>
          {% render 'icon-down-arrow' %}
      </div>

      <div class="FilterValues">
        <ul>
             {%- for option in collection.sort_options -%}
               <li>
             <label onchange="sortByChange(this)" class="{% if option.value == sort_by %}active{% endif %}" data-value="value="{{ option.value | escape }}>{{ option.name }}</label>
               </li>
               {% endfor %}
        </ul>
      </div>
     </div>
    
      
    <select onchange="sortBy(this)"
    name="sort_by"
    class="hide facet-filters__sort select__select caption-large"
    id="SortBy"
    aria-describedby="a11y-refresh-page-message"
    >
    {%- for option in collection.sort_options -%}
    <option
      value="{{ option.value | escape }}"
      {% if option.value == sort_by %}
        selected="selected"
      {% endif %}
    >
      {{ option.name | escape }}
    </option>
    {%- endfor -%}
    </select>
    </div>
  </div>
  {% assign chekResult = 0 %}
  {%- for filter in collection.filters -%}
    {%- for filter_value in filter.active_values -%}
  {% assign chekResult = chekResult | plus: 1 %}
      {% endfor %}
    {%- if filter.type == "price_range" -%}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
    {% assign chekResult = chekResult | plus: 1 %}
        {% endif %}
    {% endif %}
  {% endfor %}
  <div class="FilterResults {% if chekResult == 0 %}hide{% endif %}">
    <div class="ResultItems">
    <div class="RemoveFilter primary-button" onclick="removeFilter(this)" data-href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</div>
    {%- for filter in collection.filters -%}
      {%- if filter.type == "price_range" -%}
        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
         <div class="RemoveFilter secondary-button" onclick="removeFilter(this)" data-href="{{ filter.url_to_remove }}">
              {%- assign min_value = filter.min_value.value | default: 0 -%}
              {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
              {{ min_value | money }} - {{ max_value | money }} X
          </div>
        {%- endif -%}
      {%- else -%}
        {%- for filter_value in filter.active_values -%}
          <div class="RemoveFilter secondary-button" onclick="removeFilter(this)" data-href="{{ filter_value.url_to_remove }}">
              {{ filter_value.label }} X
          </div>
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
    </div>
  </div>
</form>
