{% comment %} using in featured collection {% endcomment %}

{% assign current_variant = card_product.selected_or_first_available_variant %}
{% assign colorOption = flase %}
{% assign szieOption = flase %}
{% for option in card_product.options_with_values %}
{% if option.name contains 'Color' %}
{% assign colorOption = true %}
{% endif %}
{% if option.name contains 'Size' %}
{% assign szieOption = true %}
{% endif %}
{% endfor %}
  {% form 'product', card_product, data-product-form: '', data-product-handle: card_product.handle,
      data-type:'add-to-cart-form' %}
  <div data-color="{{ colorOption }}" data-size="{{ sizeOption }}" class="top-container" data-url="{{ card_product.url }}">
    <div class="product-image-container">
    {% if colorOption %}
      {% for option in card_product.options_with_values %}
      {% if option.name == 'Color'%}
      {% for value in option.values %}
      <div class="product-image-wrapper">
         <div class="swiper-wrapper">
        {% assign color_alt = false %}
        {%for image in card_product.images %}
        {% if image.alt == value %}
        {% assign color_alt = ture %}
        {% endif %}
        {% endfor %}
        {% if color_alt %}
        {%for image in card_product.images %}
        {% if image.alt == value %}
        <div class="product-image-slide swiper-slide" >
          <a href="{{ card_product.url }}">
            <img class="borrder-all radius-20 feature-image" src="{{ image.src | img_url: '248x333' }}">
          </a>
        </div>
        {% endif %}
        {% endfor %}
          {% else %}
          {%for image in card_product.images %}
        <div class="product-image-slide swiper-slide" >
          <a href="{{ card_product.url }}">
            <img class="borrder-all radius-20 feature-image" src="{{ image.src | img_url: '248x333' }}">
          </a>
        </div>
        {% endfor %}
          {% endif %}
         </div>
        
       </div>
     <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
      {% break %}
      {% endfor %}
      {% endif %}
      {% endfor %}
   {% else %}
     <div class="product-image-wrapper">
         <div class="swiper-wrapper">
        {%for image in card_product.images %}
        <div class="product-image-slide swiper-slide" >
          <a href="{{ card_product.url }}">
            <img class="borrder-all radius-20 feature-image" src="{{ image.src | img_url: '248x333' }}">
          </a>
        </div>
        {% endfor %}
         </div>
        
       </div>
     <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
      {% endif %}
    </div>
    
    <div class="quick-add-wrapper">
    <div class="other-selector-wrapper">
      <div class="quick-add">
       <span>QUICK ADD +</span>
      </div>
      {% for option in card_product.options_with_values %}
        {% unless option.name == "Color" %}
          {% assign index = forloop.index %}
          <div class="OtherOptions selector-wrapper" data-option-size="{{ forloop.index0 }}">
          <div class="size-selctor-wrapper">
           {% for value in option.values %}
             <div class="size-selector {% if option.selected_value==value
                %}active{% endif %}" data-title="{{ value | escape }}">
             <input class="single-option-selector" 
                 id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
                 type="radio"
                 name="{{ option.name }}" 
                 value="{{ value | escape }}"
                 data-index="option{{index}}" {% if option.selected_value==value
                %}checked="true" {% endif %} />
               <label onclick="SelectVariant(this)" type="size" data-title="{{ value |escape }}">
                {{ value }}
              </label>
             </div>
            {% endfor %}
          </div>
          </div>
          {% endunless %}
      {% endfor %}
  </div>
     
    </div>
 </div>
  <div class="bottom-container">
      <script>
        {{card_product.media|json}}
      </script>
    <div class="product-info">
        <h3>{{ card_product.title }}</h3>
        {% for option in card_product.options_with_values %}
        {% if option.name == 'Color' %}
        <p class="colorNameBox"><span class="SelectedColor">{{ option.values[0] }}</span><span class="TotalColorSize">{{ option.values | size }} Colors</span></p>
        {% endif %}
        {% endfor %}
        <p>{{ card_product.price| money_with_currency}}</p>
      </div>
       <div class="product-variant-container">
         
          {% for option in card_product.options_with_values %}
          {% if option.name == 'Color'%}
          <div class="product-variant-images selector-wrapper" data-option-size="{{ forloop.index0 }}">
             <div class="prodouct-variant-slider">
             <div class="swiper-wrapper">
            {% for value in option.values %}
               {% assign color_alt = false %}
        {%for image in card_product.images %}
        {% if image.alt == value %}
        {% assign color_alt = ture %}
        {% endif %}
        {% endfor %}
        {% if color_alt %}
            {% for image in card_product.images %}
            {% if image.alt == value %}
              <div class="swiper-slide" data-swiper-autoplay="1000">
              <div class="size-selector" data-title="{{ value | escape }}">
             <input  class="VarImage"
                 id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
                 type="radio"
                 name="{{ option.name }}" 
                 value="{{ value | escape }}"
                 data-index="option{{index}}" {% if option.selected_value==value
                %}checked="true" {% endif %} />
              
               <label  onclick="SelectVariant(this)" type="color" data-title="{{ value | escape }}">
               <div class="variant-images radius-5 overflow-hidden">
                  <img  src="{{image.src| img_url: '60x60' }}">
                 </div>
                 </label>
             </div>
              </div>
            {% break %}
            {% endif %}
            {% endfor %}
          {% else %}
              {% for image in card_product.images %}
              <div class="swiper-slide" data-swiper-autoplay="1000">
              <div class="size-selector" data-title="{{ value | escape }}">
             <input  class="VarImage"
                 id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" 
                 type="radio"
                 name="{{ option.name }}" 
                 value="{{ value | escape }}"
                 data-index="option{{index}}" {% if option.selected_value==value
                %}checked="true" {% endif %} />
              
               <label  onclick="SelectVariant(this)" type="color" data-title="{{ value | escape }}">
               <div class="variant-images radius-5 overflow-hidden">
                  <img  src="{{image.src| img_url: '60x60' }}">
                 </div>
                 </label>
             </div>
              </div>
            {% break %}
            {% endfor %}  
               {% endif %}
            {% endfor %}
             </div>
             </div>
            </div>
            {% endif %}
           {% endfor %}
            
         </div>
 <select id="product-select" name="id" >
        {% for variant in card_product.variants %}
        {% if variant.available == true %}
        <option data-avability="true"  value="{{variant.id}}">{{ variant.title }}</option>
        {% else %} 
        <option data-avability="false" disabled="disabled" value="{{variant.id}}">{{ variant.title }}</option>
        {% endif %}
        {% endfor %}
      </select>
     
  </div>
  {% endform %}


