<ul class="menu">
{% for link in section.settings.menu.links %}
  {%  assign mainLink = link.title | handle %}
   <li data-label="{{ link.levels }}" class="menu-link lavels-{{  link.levels }} {% if link.links.size > 0 %}has-child-links {% endif %}">
    <a class="snakify-in" href="{{ link.url }}">{{ link.title }}</a>
    {% if link.links.size > 0 and link.levels == 2 %}
    <div class="DropDownBox dropdown-child">    
    <ul class="dropdown-child-Box border-right">
        {% for child_link in link.links %}
           <li class="child-menu-link">
            <a class="snakify-in" href="{{ child_link.url }}">{{ child_link.title }}</a>
            {% if child_link.links.size > 0 %}
            
            <ul class="dropdown-grandchild">
                {% for grandchild_link in child_link.links %}
                <li class="grand-menu-link" featured-image="{{ child_link.title | handle }}-{{ grandchild_link.title | handle }}">
                    <a class="snakify-in" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
     </ul>
      <div class="show-image">
         {% for link in section.settings.menu.links %}
          {% if link.links.size > 0 %}
          {% assign main-menu-image = link.object %}
          {% assign link_title = link.title | handle %}
          {% if mainLink ==  link_title %}
          {% capture linktitle %}{{ link_title }}{% endcapture %}
         <div class="ShopNewBox size_{{ linklists[linktitle].links.size }}">
           {% for linksub in linklists[linktitle].links %}
             {% assign fetimage = linksub.object %}
             <div class="MenuBoxContent hover-zoom">
               <a class="" href="{{ linksub.url }}">
               <img srcset="{{ fetimage.image  | img_url: '768x'  }}" width="{{ fetimage.image.width }}" height="{{ fetimage.image.height }}"/>
               <p>{{ linksub.title }}</p>
               </a>
             </div>
           {%  endfor %}
               
         </div>
        {% endif %}
           {% endif %}
           {% endfor %}
        <div class="show-featured-image">
              {% for child_link in link.links %}
                {% if child_link.links.size > 0 %}
                {% for grandchild_link in child_link.links %}
                {% assign grand-menu-image = grandchild_link.object %}
                  {% if grand-menu-image.image != blank %}
                <div id="{{ child_link.title | handle }}-{{ grandchild_link.title | handle }}" class="featureImage"> 
                <div class="image"> <img src="{{ grand-menu-image.image  | img_url: '768x'  }}"/>
                  <h3>{{ grand-menu-image.products.count }} Products</h3>
                </div>
                </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                
              {% endfor %}
            </div>
      </div>
    </div>
    {% else %}
      {% if link.links.size > 0 %}
      <ul class="DropdownChild">
        {% for child_link in link.links %}
          <li class="child-menu-link">
          <a class="snakify-in" href="{{ child_link.url }}">{{ child_link.title }}</a>
          {% if child_link.links.size > 0 %}
          {% endif %}
          </li>
        {% endfor%}
      </ul>
        {% endif %}
   {% endif %}
</li>
{% endfor %}
<li class="large-up-hide">
  <div class="border-t border-secondary/20">
          <div id="nav-drawer-info-links-contianer" class="grid grid-cols-2 gap-[5px] my-[2rem]">
            
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://alphaleteathletics.com/account/login"> 
<svg id="" class="icon-user-circle w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="User Circle Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 496 512">
      <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path>
    </svg> <span>Sign in</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://support.alphaleteathletics.com/hc/en-us"> 
<svg id="" class="icon-question-circle w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Question Circle Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 512 512">
      <path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path>
    </svg>  <span>Help Center</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://support.alphaleteathletics.com/hc/en-us/categories/360005732132-Shipping-Delivery"> 
<svg id="" class="icon-shipping-fast w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Shipping Fast Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 640 512">
      <path d="M624 352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494 110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H112C85.5 0 64 21.5 64 48v48H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h272c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H40c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H64v128c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z"></path>
    </svg>  <span>Shipping Info</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://alphaleteathletics.com/pages/order-tracking"> 
<svg id="" class="icon-location-dot w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Location Dot Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 384 512">
      <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"></path>
    </svg>  <span>Track My Order</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://alphaleteathletics.com/pages/share-the-look"> 
<svg id="" class="icon-share w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Share Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 448 512">
      <path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3V320c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 53 43 96 96 96H352c53 0 96-43 96-96V352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V352z"></path>
    </svg>  <span>Share The Look</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://alphaleteathletics.com/pages/discounts"> 
<svg id="" class="icon-tag w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Tag Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 448 512">
      <path d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"></path>
    </svg>  <span>Discounts</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://support.alphaleteathletics.com/hc/en-us/articles/360058520571-Return-exchange-policy"> 
<svg id="" class="icon-refresh w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Plus Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 512 512">
      <path d="M449.9 39.96l-48.5 48.53C362.5 53.19 311.4 32 256 32C161.5 32 78.59 92.34 49.58 182.2c-5.438 16.81 3.797 34.88 20.61 40.28c16.97 5.5 34.86-3.812 40.3-20.59C130.9 138.5 189.4 96 256 96c37.96 0 73 14.18 100.2 37.8L311.1 178C295.1 194.8 306.8 223.4 330.4 224h146.9C487.7 223.7 496 215.3 496 204.9V59.04C496 34.99 466.9 22.95 449.9 39.96zM441.8 289.6c-16.94-5.438-34.88 3.812-40.3 20.59C381.1 373.5 322.6 416 256 416c-37.96 0-73-14.18-100.2-37.8L200 334C216.9 317.2 205.2 288.6 181.6 288H34.66C24.32 288.3 16 296.7 16 307.1v145.9c0 24.04 29.07 36.08 46.07 19.07l48.5-48.53C149.5 458.8 200.6 480 255.1 480c94.45 0 177.4-60.34 206.4-150.2C467.9 313 458.6 294.1 441.8 289.6z"></path>
    </svg>  <span>Returns &amp; Exchange</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://info.alphaleteathletics.com/pages/careers"> 
<svg id="" class="icon-briefcase w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Briefcase Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 512 512">
      <path d="M320 336c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"></path>
    </svg> <span>Careers</span> </a>
            <a class="p-[1rem] flex items-center text-[1.5rem] rounded-[1rem] transition-all active:bg-secondary/20" href="https://info.alphaleteathletics.com/pages/about-us"> 
<svg id="" class="icon-info-circle w-[20px] h-[20px] mr-[1rem] fill-secondary" style="" data-name="Info Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 512 512">
      <path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path>
    </svg> <span>About Us</span> </a>
          </div>

          <div id="nav-drawer-footer-social" class="py-[2rem] flex items-center justify-between border-t border-secondary/20">
             <a class="h-[30px] w-[30px] flex-center rounded-[1rem] transition-all active:bg-secondary/20" href="https://www.instagram.com/alphalete/?hl=en"> 
<svg id="" class="icon-instagram h-[20px] px-[5px] fill-secondary" style="" data-name="Instagram Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 448 512">
      <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
    </svg> </a>  
             <a class="h-[30px] w-[30px] flex-center rounded-[1rem] transition-all active:bg-secondary/20" href="https://www.tiktok.com/@alphaleteathletics?lang=en" target="_blank"> 
<svg id="" class="icon-tiktok h-[20px] px-[5px] fill-secondary" style="" data-name="Tik Tok Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 448 512">
      <path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"></path>
    </svg> </a>  
             <a class="h-[30px] w-[30px] flex-center rounded-[1rem] transition-all active:bg-secondary/20" href="https://twitter.com/Alphalete?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> 
<svg id="" class="icon-twitter h-[20px] px-[5px] fill-secondary" style="" data-name="Twitter Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 512 512">
      <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
    </svg> </a>  
             <a class="h-[30px] w-[30px] flex-center rounded-[1rem] transition-all active:bg-secondary/20" href="https://www.facebook.com/alphaleteathletics/"> 
<svg id="" class="icon-facebook h-[20px] px-[5px] fill-secondary" style="" data-name="Facebook Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 320 512">
      <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
    </svg> </a>  
             
             <a class="h-[30px] w-[30px] flex-center rounded-[1rem] transition-all active:bg-secondary/20" href="https://www.youtube.com/channel/UCkSZPoazdQbLaljwqQo1c_g"> 
<svg id="" class="icon-youtube h-[20px] px-[5px] fill-secondary" style="" data-name="Youtube Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 576 512">
      <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
    </svg> </a>  
             
            
            
          </div>
        </div>
</li>
</ul>
