<ul class="menu">
{% for link in section.settings.menu.links %}
  {%  assign mainLink = link.title | handle %}
   <li data-label="{{ link.levels }}" class="menu-link lavels-{{  link.levels }} {% if link.links.size > 0 %}has-child-links {% endif %}">
    <a class="snakify-in" href="{{ link.url }}">{{ link.title }}</a>
    {% if link.links.size > 0 and link.levels == 2 %}
    <div class="DropDownBox dropdown-child">    
    <ul class="dropdown-child-Box border-right">
        {% for child_link in link.links %}
           <li class="child-menu-link">
            <a class="snakify-in" href="{{ child_link.url }}">{{ child_link.title }}</a>
            {% if child_link.links.size > 0 %}
            
            <ul class="dropdown-grandchild">
                {% for grandchild_link in child_link.links %}
                <li class="grand-menu-link" featured-image="{{ child_link.title | handle }}-{{ grandchild_link.title | handle }}">
                    <a class="snakify-in" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
     </ul>
      <div class="show-image">
         {% for link in section.settings.menu.links %}
          {% if link.links.size > 0 %}
          {% assign main-menu-image = link.object %}
             {% assign link_title = link.title | handle %}
             {% if mainLink ==  link_title %}
             {% capture linktitle %}{{ link_title }}{% endcapture %}
               
         <div class="ShopNewBox size_{{ linklists[linktitle].links.size }}">
           {% for linksub in linklists[linktitle].links %}
             {% assign fetimage = linksub.object %}
             <div class="MenuBoxContent hover-zoom">
               <a class="" href="{{ linksub.url }}">
               <img srcset="{{ fetimage.image  | img_url: '768x'  }}" width="{{ fetimage.image.width }}" height="{{ fetimage.image.height }}"/>
               <p>{{ linksub.title }}</p>
               </a>
             </div>
           {%  endfor %}
               
         </div>
        {% endif %}
           {% endif %}
           {% endfor %}
        <div class="show-featured-image">
              {% for child_link in link.links %}
                {% if child_link.links.size > 0 %}
                {% for grandchild_link in child_link.links %}
                {% assign grand-menu-image = grandchild_link.object %}
                  {% if grand-menu-image.image != blank %}
                <div id="{{ child_link.title | handle }}-{{ grandchild_link.title | handle }}" class="featureImage"> 
                <div class="image"> <img src="{{ grand-menu-image.image  | img_url: '768x'  }}"/>
                  <h3>{{ grand-menu-image.products.count }} Products</h3>
                </div>
                </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                
              {% endfor %}
            </div>
      </div>
    </div>
    {% else %}
      <ul class="DropdownChild">
        {% for child_link in link.links %}
          <li class="child-menu-link">
          <a class="snakify-in" href="{{ child_link.url }}">{{ child_link.title }}</a>
          {% if child_link.links.size > 0 %}
          {% endif %}
          </li>
        {% endfor%}
      </ul>
   {% endif %}
</li>
{% endfor %}
</ul>
