<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
 
  {% include 'css-variables' %}
  <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'base.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'theme.css' | asset_url }}"></noscript>
<link rel="preload" href="{{ 'fancybox.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'fancybox.css' | asset_url }}"></noscript>   
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
 <link rel="preload" href="{{ 'swiper.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}"></noscript>
<script src="{{ 'swiper.js' | asset_url }}" async></script>
<script src="{{ 'fancybox.umd.js' | asset_url }}" async></script>
 {{ content_for_header }}
 {% style %}
     {% for scheme in settings.color_schemes -%}
      
      .color-{{ scheme.id }} {
        color: {{ scheme.settings.text }};
        {% if scheme.settings.background_gradient != empty %}
          background: {{ scheme.settings.background_gradient }};
        {% else %}
          background: {{ scheme.settings.background }};
        {% endif %}
      }
      .color-{{ scheme.id }} .cart-button span{
       color: {{ scheme.settings.button-text }};
       background: {{ scheme.settings.button-background }};
      }
      .color-{{ scheme.id }} .Tabbing-Title{
        border-color: {{ scheme.settings.border-color }};
      }
      .color-{{ scheme.id }} .border-all{
        border: 1px solid {{ scheme.settings.color-border }};
      } .color-{{ scheme.id }} .border-bottom{
        border-bottom: 1px solid {{ scheme.settings.color-border }};
      } .color-{{ scheme.id }} .border-top{
        border-top: 1px solid {{ scheme.settings.color-border }};
      }
      .color-{{ scheme.id }} .border-left{
        border-left: 1px solid {{ scheme.settings.color-border }};
      }.color-{{ scheme.id }} .border-right{
        border-right: 1px solid {{ scheme.settings.color-border }};
      }
      .color-{{ scheme.id }} .hederIcon:hover{
        color: {{ scheme.settings.secondary-button-hover-text }};
        background: {{ scheme.settings.secondary-button-hover-background }};
      }
      .color-{{ scheme.id }} .snakify-in:after {
    background:  {{ scheme.settings.link-color }};
      }
      .color-{{ scheme.id }} .info ul ul{
        {% if scheme.settings.background_gradient != empty %}
          background: {{ scheme.settings.background_gradient }};
        {% else %}
          background: {{ scheme.settings.background }};
        {% endif %}
          border: 1px solid {{ scheme.settings.color-border }};
      }
      .color-{{ scheme.id }} .hederIcon:hover svg{
        fill: {{ scheme.settings.secondary-button-hover-text }};
      }
      .color-{{ scheme.id }} h1, .color-{{ scheme.id }} .heading{
         color: {{ scheme.settings.heading-color }};
      }
      .color-{{ scheme.id }} .sub-heading{
       color: {{ scheme.settings.sub-heading-color }};
      }
      .color-{{ scheme.id }} a{
       color: {{ scheme.settings.link-color }};
      }
      .color-{{ scheme.id }} svg {
         fill: {{ scheme.settings.link-color }};
       }
      .color-{{ scheme.id }} .primary-button {
        color: {{ scheme.settings.button-text }};
        background: {{ scheme.settings.button-background }};
        border: 1px solid {{ scheme.settings.button-border-color}};
      }
      .color-{{ scheme.id }} .secondary-button, .color-{{ scheme.id }} .tablinks.active{
        color: {{ scheme.settings.secondary-button-text }};
        background: {{ scheme.settings.secondary-button-background }};
        border: 1px solid {{ scheme.settings.secondary-button-border-color}};
      }
      .color-{{ scheme.id }} .primary-button:hover {
        color: {{ scheme.settings.button-hover-text }};
        background: {{ scheme.settings.button-hover-background }};
        border: 1px solid {{ scheme.settings.button-hover-border-color}};
      }
      .color-{{ scheme.id }} .secondary-button:hover{
        color: {{ scheme.settings.secondary-button-hover-text }};
        background: {{ scheme.settings.secondary-button-hover-background }};
        border: 1px solid {{ scheme.settings.secondary-button-hover-border-color}};
      }
      {% endfor %}
  {% endstyle %}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
{% render 'flash-wrapper' %}
<!--   <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> -->
 
{% section 'cart-drawer' %}
<link rel="preload" href="{{ 'cart-drawer.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'cart-drawer.css' | asset_url }}"></noscript>
<script src="{{ 'cart-drawer.js' | asset_url }}" async></script>
{% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

   {% if request.page_type == 'product' %}
    {% if product.options contains 'Size' %}
      {% assign chart = product.type | handleize | append: "-size-chart" %}
      {% unless pages[chart].empty? or pages[chart].content == blank %}
        {% render 'size-chart-popup' %}
      {% endunless %}
    {% endif %}
  {% endif %}
  {% section 'footer' %}
  <div id="mini-cart-sucess"></div>
{% section 'quick-search' %}
<script src="{{ 'theme.js' | asset_url }}" async></script>
{% render 'cookies-banner' %}
</body>
</html>
