<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}
  <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'base.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'theme.css' | asset_url }}"></noscript>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
 <link rel="preload" href="{{ 'swiper.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}"></noscript>
<script src="{{ 'swiper.js' | asset_url }}" async></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
 {{ content_for_header }}

</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
{% render 'flash-wrapper' %}
<!--   <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> -->
 
{% section 'cart-drawer' %}
<link rel="preload" href="{{ 'cart-drawer.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'cart-drawer.css' | asset_url }}"></noscript>
<script src="{{ 'cart-drawer.js' | asset_url }}" async></script>
{% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

   {% if request.page_type == 'product' %}
    {% if product.options contains 'Size' %}
      {% assign chart = product.type | handleize | append: "-size-chart" %}
      {% unless pages[chart].empty? or pages[chart].content == blank %}
        {% render 'size-chart-popup' %}
      {% endunless %}
    {% endif %}
  {% endif %}
  {% section 'footer' %}
  <div id="mini-cart-sucess"></div>
{% render 'quick-search' %}
<script src="{{ 'theme.js' | asset_url }}" async></script>
{% render 'cookies-banner' %}
<div class="anim">
<svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 1845 267" width="1845" height="267">
  <path d="m1685 133.5c0-0.8 0.7-1.5 1.5-1.5h157c0.8 0 1.5 0.7 1.5 1.5 0 0.8-0.7 1.5-1.5 1.5h-157c-0.8 0-1.5-0.7-1.5-1.5z"/>
  <path d="m1422.9 98.2c-0.2 0.6 0.2 1.3 0.8 1.5 0.7 0.2 1.4-0.2 1.6-0.9zm129.1-94.9c72.8 0 131.8 59 131.8 131.8h2.4c0-74.2-60.1-134.3-134.2-134.3zm-126.7 95.6c15.7-55.2 66.5-95.6 126.7-95.6v-2.5c-61.4 0-113.1 41.2-129.1 97.4zm373.7 278.2"/>
  <path d="m1683.1 168.8c0.2-0.6-0.2-1.3-0.8-1.5-0.7-0.2-1.4 0.2-1.6 0.9zm-129.1 94.9c-72.8 0-131.8-59-131.8-131.8h-2.4c0 74.2 60.1 134.3 134.2 134.3zm126.7-95.6c-15.7 55.2-66.5 95.6-126.7 95.6v2.5c61.4 0 113.1-41.2 129.1-97.4z"/>
  <path d="m1292 132h129v3h-129z"/>
  <path d="m1029.9 98.2c-0.2 0.6 0.2 1.3 0.8 1.5 0.7 0.2 1.4-0.2 1.6-0.9zm129.1-94.9c72.8 0 131.8 59 131.8 131.8h2.4c0-74.2-60.1-134.3-134.2-134.3zm-126.7 95.6c15.7-55.2 66.5-95.6 126.7-95.6v-2.5c-61.4 0-113.1 41.2-129.1 97.4z"/>
  <path d="m1290.1 168.8c0.2-0.6-0.2-1.3-0.8-1.5-0.7-0.2-1.4 0.2-1.6 0.9zm-129.1 94.9c-72.8 0-131.8-59-131.8-131.8h-2.4c0 74.2 60.1 134.3 134.2 134.3zm126.7-95.6c-15.7 55.2-66.5 95.6-126.7 95.6v2.5c61.4 0 113.1-41.2 129.1-97.4z"/>
  <path d="m899 132h129v3h-129z"/><path d="m636.9 98.2c-0.2 0.6 0.2 1.3 0.8 1.5 0.7 0.2 1.4-0.2 1.6-0.9zm129.1-94.9c72.8 0 131.8 59 131.8 131.8h2.5c0-74.2-60.2-134.3-134.3-134.3zm-126.7 95.6c15.7-55.2 66.5-95.6 126.7-95.6v-2.5c-61.4 0-113.1 41.2-129.1 97.4z"/>
  <path d="m897.1 168.8c0.2-0.6-0.2-1.3-0.8-1.5-0.7-0.2-1.4 0.2-1.6 0.9zm-129.1 94.9c-72.8 0-131.8-59-131.8-131.8h-2.5c0 74.2 60.2 134.3 134.3 134.3zm126.7-95.6c-15.7 55.2-66.5 95.6-126.7 95.6v2.5c61.4 0 113.1-41.2 129.1-97.4z"/>
  <path d="m506 132h129v3h-129z"/>
  <path d="m243.8 98.2c-0.2 0.6 0.2 1.3 0.9 1.5 0.6 0.2 1.3-0.2 1.5-0.9zm129.1-94.9c72.8 0 131.8 59 131.8 131.8h2.5c0-74.2-60.1-134.3-134.3-134.3zm-126.7 95.6c15.7-55.2 66.5-95.6 126.7-95.6v-2.5c-61.3 0-113.1 41.2-129.1 97.4z"/>
  <path d="m502.1 168.8c0.2-0.6-0.2-1.3-0.8-1.5-0.7-0.2-1.4 0.2-1.6 0.9zm-129.1 94.9c-72.8 0-131.8-59-131.8-131.8h-2.5c0 74.2 60.2 134.3 134.3 134.3zm126.7-95.6c-15.7 55.2-66.5 95.6-126.7 95.6v2.5c61.4 0 113.1-41.2 129.1-97.4z"/>
  <path d="m0 133.5c0-0.8 0.7-1.5 1.5-1.5h237c0.8 0 1.5 0.7 1.5 1.5 0 0.8-0.7 1.5-1.5 1.5h-237c-0.8 0-1.5-0.7-1.5-1.5z"/>
</svg>
    <script>
      var paths = document.querySelectorAll('.anim path'),
i = 0;
paths.forEach(function(item, index){
  i++; 
 var pathLength = item.getTotalLength(),
  speed = 1200;
  item.setAttribute("stroke-dasharray", pathLength);
  item.setAttribute("stroke-dashoffset", pathLength);
  if(index == 0){ 
    item.innerHTML = "<animate id='a" + i + "' attributeName='stroke-dashoffset' begin='0s' dur='" + pathLength/speed + "'s to='0' fill='freeze' />";
  }else{
    item.innerHTML = "<animate id='a"+ i +"' attributeName='stroke-dashoffset' begin='a"+ (i-1) +".end' dur='" + pathLength/speed + "'s to='0' fill='freeze' />";
  }
  console.log(index, pathLength, item.innerHTML) 
 }) 
      </script>
</div>
  
</body>
</html>
