<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}
  <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'base.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'theme.css' | asset_url }}"></noscript>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
 <link rel="preload" href="{{ 'swiper.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}"></noscript>
<script src="{{ 'swiper.js' | asset_url }}" async></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
 {{ content_for_header }}

</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
{% render 'flash-wrapper' %}
<!--   <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> -->
 
{% section 'cart-drawer' %}
<link rel="preload" href="{{ 'cart-drawer.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'cart-drawer.css' | asset_url }}"></noscript>
<script src="{{ 'cart-drawer.js' | asset_url }}" async></script>
{% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

   {% if request.page_type == 'product' %}
    {% if product.options contains 'Size' %}
      {% assign chart = product.type | handleize | append: "-size-chart" %}
      {% unless pages[chart].empty? or pages[chart].content == blank %}
        {% render 'size-chart-popup' %}
      {% endunless %}
    {% endif %}
  {% endif %}
  {% section 'footer' %}
  <div id="mini-cart-sucess"></div>
{% render 'quick-search' %}
<script src="{{ 'theme.js' | asset_url }}" async></script>
{% render 'cookies-banner' %}

<svg class="BACG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1200" height="628" viewBox="0 0 1200 628" xml:space="preserve">
<desc>Created with Fabric.js 5.3.0</desc>
<defs>
</defs>
<g transform="matrix(0.9912243091 0 0 1.0032682293 251.6632790138 351.1158503901)" id="EFjbwUHqA3skGBddqgw_m">
<path style="stroke: rgb(0,0,0);stroke-width: 1;stroke-dasharray: none;stroke-linecap: butt;stroke-dashoffset: 0;stroke-linejoin: miter;stroke-miterlimit: 4;fill: rgb(255,255,255);fill-opacity: 0;fill-rule: nonzero;opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(0, 0)" d="M -217.11491 -89.48655 L -86.55256 -89.48655 L -86.55256 -8.283049999999989 L -38.82881 52.57276000000001 L 57.21272 89.48655000000001 L 175.77165 52.57276000000001 L 217.11491999999998 -8.283049999999989 L 217.11491999999998 -89.48655" stroke-linecap="round"/>
</g>
<g transform="matrix(1 0 0 -1 684.9877750611 171.4083129584)" id="vIQCjuZGevlLOvh_8hX7p">
<path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-opacity: 0; fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-0.000005, 0)" d="M -217.11491 -89.48655 L -86.55256 -89.48655 L -86.55256 -8.283049999999989 L -38.82881 52.57276000000001 L 57.21272 89.48655000000001 L 175.77165 52.57276000000001 L 217.11491999999998 -8.283049999999989 L 217.11491999999998 -89.48655" stroke-linecap="round"/>
</g>
</svg>
<style>
  .BACG{
    position: fixed;
    top: 0;
  }
</style>
  <script>
    let path =  document.querySelctorAll('.BACG path')[0];
let pathLength = path.getTotalLength();

path.style.strockDasharray = pathLength + ' ' + pathLength;

path.style.strockDashoffset = pathLength;

window.addEvenListener('scroll', () =>{
let scrollProgress = document.getElementById("progress");
    let progressValue = document.getElementById("progress-value");
    let pos = document.documentElement.scrollTop;
    let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    let scrollValue = Math.round( pos * 100 / calcHeight);
    console.log(scrollValue)
})
  </script>
</body>
</html>
