{% if section.settings.show-announcement %}
<div class="{% if section.settings.width == 'full-width' %}full-width{% elsif section.settings.width == 'wrapper-width' %}page-width{% else %} narrow-width {% endif %}">
<div class="announce-wrapper" style="background:{{ section.settings.bg-color}}">
  <div class="annouce-bar announce-slider{{ section.id }}" data-flickity='{"prevNextButtons":false,"pageDots":false,"autoPlay":true}'>
      {% for block in section.blocks %}
      <div class="announce-text" {{ block.shopify_attributes }}>
        {% if block.settings.title != blank %}
        {{ block.settings.title }}
        {% endif %}
      </div>
      {% endfor %}
    </div>
      <div class="announce-left-bar mobile-hide">
        <div class="info">
        <ul>
          {% for link in section.settings.menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
              {% if link.links.size > 0 %}
              <ul>
              {% for child_link in link.links %}
                <li>
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
              {% endfor %}
            </ul>
          {% endif %}
            </li>
            {% endfor %}
        </ul>
        </div>
      <div class="login-button">
          {% if shop.customer_accounts_enabled  %}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{% endif %}">
                  Login
           </a>
          {%endif %}
      </div>
      </div>
</div>
</div>
{% endif %}
{% if request.design_mode %}
<script>
  document.addEventListener('shopify:block:select', function(event) {
var flkty = new Flickity( '.announce-slider{{ section.id }}', {
 prevNextButtons: false,
 pageDots: false,
 autoPlay: true,
fullscreen: true
});
});
document.addEventListener('shopify:block:deselect', function(event) {
var elem = document.querySelector('.announce-slider{{ section.id }}')[0];
  
  elem.Flickity('destroy');
   alert('block dest');
});

//  section load===============
document.addEventListener('shopify:section:load', function(event) {
var flkty = new Flickity( '.announce-slider{{ section.id }}', {
 prevNextButtons: false,
 pageDots: false,
 autoPlay: true,
fullscreen: true
  
});
});

document.addEventListener('shopify:section:unload', function(event) {
var elem = document.querySelector('.announce-slider{{ section.id }}')[0];
 elem.Flickity('destroy');
  alert('block dest');
});
</script>
{% endif %}
{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "select",
        "id": "width",
        "label": "Page width",
        "options": [
          {
            "value": "full-width",
            "label": "Full Width"
          },
          {
            "value": "wrapper-width",
            "label": "Wrapper Width"
          },
          {
            "value": "narrow-width",
            "label": "Narrow width"
          }
        ]
      },
    {
      "type": "checkbox",
      "id": "show-announcement",
      "label": "Show Announcement Bar"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Change Background Color"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Change text Color"
    },
    {
      "type":"header",
      "content":"Right-Bar"
    },
   {
    "type":"link_list",
    "label":"Select Info menu",
     "id":"menu"
   }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "annocement bar",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Announcement Text"
        }
      ]
    }
  ],
  "presets":[{"name":"Announcement Bar"}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}