<link rel="preload" href="{{ 'collection-tabbing.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'collection-tabbing.css' | asset_url }}"></noscript>
<style>
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
</style>
<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
    <div class="TabingBox">
        <div class="collection-wrapp">
            <div id="CollectionTabing-{{ section.id }}" class="collection-tabbing swiper">
                <div class="CarsoulBox swiper-wrapper collection-carsoul-{{ section.id }}">
                      {%  assign loopmainIndex = 0 %}
                      {% for block in section.blocks %}
                        <div id="Tab-{{ section.id  }}{{ forloop.index }}"class=" swiper-slide TabContent-{{ section.id  }} tabimage">
                        <div class="{% if section.settings.width == 'full-width' %}full-width{% elsif section.settings.width == 'wrapper-width' %}page-width{% else %} narrow-width {% endif %}" >
                        <div class="Tabing-Header">
                          {% assign collection = collections[block.settings.slide-collection] %}
                          <div class="TabHeader Tab-{{ section.id  }}{{ forloop.index }}">
                            <div class="HederTabBox">
                              <div class="LeftSide">
                              {% if block.settings.sub_title != blank %}
                                <div class="sub_title">{{ block.settings.sub_title }}</div>
                              {% endif %} 
                              {% if block.settings.heading != blank %}
                                <h2 class="heading_title">{{ block.settings.heading }}</h2>
                              {% endif %}
                              </div>
                              <div class="RightSide btn_color{{ block.id }}">
                                {%  if block.settings.shop_all %}
                                <a class="cta-btn primary-button" href="{{ collection.url }}">{{ block.settings.button_text }}</a> 
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="Tabbing-Title">
                          {% assign loopindex = 0 %}
                          {% for block in section.blocks %}
                          <div data-index="{{ loopindex }}" class="Tab-{{ section.id  }} tablinks {% if loopmainIndex == loopindex %} active {% endif %}" data-id="Tab-{{ section.id  }}{{ forloop.index }}">
                            {% if block.settings.title != blank %}
                              {{ block.settings.title }}
                            {% endif %}
                          </div>
                          {% assign loopindex = loopindex | plus: 1 %}
                          {% endfor %}
                        </div>
                        <div class="collection-list swiper" >
                          <div class="swiper-wrapper">
                            {% assign collection = collections[block.settings.slide-collection] %}
                            {% for product in collection.products  limit:  block.settings.total_products %}
                              <div class="coll featured-product swiper-slide">
                                {% render 'product-grid', card_product:product %}
                              </div>
                            {% endfor %}
                          </div>
                          <div class="tabingNext swiper-button-next swiper-next secondary-button"></div>
                          <div class="tabingPrev swiper-button-prev swiper-prev secondary-button"></div>
                        </div>
                        </div>
                        </div>
                        {% assign loopmainIndex = loopmainIndex | plus: 1 %}
                      {% endfor %}
                  </div>
            </div>
        </div>
    </div>
</div>
<script>
var CollectionTabSectionSlider = document.getElementById('CollectionTabing-{{ section.id }}');
if (CollectionTabSectionSlider){
    const TabLink = document.querySelectorAll('#CollectionTabing-{{ section.id }} .tablinks')
    const CollectionTabSection = new Swiper(CollectionTabSectionSlider, {
        slidesPerView: 1,
        speed: 500,
        effect: 'cards',
        allowTouchMove: false,
        initialSlide: 0,
    })
    function slide(e) {
        let target = e.target;
        let index = target.getAttribute('data-index');
        CollectionTabSection.slideTo(index);
    }
    TabLink.forEach(item => {
        item.addEventListener('click', event => {
            slide(event)
        })
    })
  var CollectionSlider = document.querySelectorAll('#CollectionTabing-{{ section.id }} .collection-list');
  CollectionSlider.forEach(item => {
  var nextbutton = item.querySelectorAll('.tabingNext')[0];
  var prebutton = item.querySelectorAll('.tabingPrev')[0];
  const swiperTabs = new Swiper(item, {
      slidesPerView: 2,
      spaceBetween: 15,
      initialSlide: 0,
      navigation: {
          nextEl: nextbutton,
          prevEl: prebutton,
      },
      breakpoints: {
          640: {
              slidesPerView: 2,
          },
          1024: {
              slidesPerView: 3,
          },
          1366: {
              slidesPerView: {{ section.settings.rows }},
  
          },
      },
  })
  })
}
</script>
{% schema %}
{
  "name": "Collection Tabbing",
  "class": "COLLECTION_TABS overflow-hidden",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Choose Color Schema",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "wrapper-width",
          "label": "Wrapper Width"
        },
        {
          "value": "narrow-width",
          "label": "Narrow width"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_bottom",
      "default": 36
    },
    {
        "type":"header",
        "content":"Slider Options"
    },
    {
          "type": "range",
          "id": "rows",
          "min": 2,
          "max": 6,
          "step": 1,
          "label": "Pre Row to Show",
          "default": 5
     }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "collection",
      "settings": [
        {
          "type": "text",
          "label": "Tab Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Heading Title",
          "id": "heading"
        },
        {
          "type": "text",
          "label": "Sub-Heading",
          "id": "sub_title"
        },
        {
          "type": "collection",
          "id": "slide-collection",
          "label": "Slider Collection"
        },
        {
          "type": "range",
          "id": "total_products",
          "min": 0,
          "max": 20,
          "step": 1,
          "label": "Products to Show",
          "default": 8
        },
        {
          "type": "checkbox",
          "label": "Show View All Button",
          "id": "shop_all",
          "default": false
        },
        {
          "type": "text",
          "label": "Button Text",
          "id": "button_text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Tabbing"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}