<style>
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
</style>
<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
 <div class="ImageWithTextBox CollectionnGrid colls-2  {% if section.settings.image_position == 'right' %}image-right{% else %}image-left{% endif %}">
   
   <div class="GridItem">
    {% if  section.settings.mobile_image != blank %}
    <img class="desktop-hide radius-30" width="{{ section.settings.mobile_image.width }}" height="{{ section.settings.mobile_image.height }}" loading="lazy" srcset="{{ section.settings.mobile_image  | img_url:'768x'}}" alt="{{ section.settings.mobile_image.alt }}">
    {% endif %}
    <img loading="lazy" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" class="{% if section.settings.mobile_image != blank %}mobile-hide{% endif %}"  alt="{{ section.settings.image.alt }}" srcset="{{ section.settings.image  | img_url:'1200x'}}">
   </div>
   
   <div class="GridItem">
      <div class="text-content {{ section.settings.text_alignment }} text-content-{{ section.settings.desktop_content_position}}">
    {% for block in section.blocks %}
        {% if block.type == 'heading' %}
            <h2 class="heading">{{ block.settings.title }}</h2>
        {% endif %}
        {% if block.type == 'sub-heading' %}
        <div class="sub_heading">{{ block.settings.title }}</div>
        {% endif %}
        {% if block.type == 'button' %}
        <div class="button-box">
          {% if block.settings.primary-button != blank and block.settings.primary-button-link != blank %}
          <a href="{{ block.settings.primary-button-link }}" class="button primary-button">{{ block.settings.primary-button }}</a>
            {% endif %}
          {% if block.settings.secondary-button != blank and block.settings.secondary-button-link != blank %}
          <a href="{{ block.settings.secondary-button-link }}" class="button secondary-button">{{ block.settings.secondary-button }}</a>
            {% endif %}
        </div>
        {% endif %}
        {% if block.type == 'description' %}
        <div class="rte">{{ block.settings.title }}</div>
        {% endif %}    
    {% endfor %}
  </div>
   </div>
</div>
 </div>
{% schema %}
  {
    "name": "Image with Text",
    "settings": [
         {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Choose Color Schema",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "wrapper-width",
          "label": "Wrapper Width"
        },
        {
          "value": "narrow-width",
          "label": "Narrow width"
        }
      ],
      "default": "wrapper-width"
    },
    {
      "type": "range",
      "label": "Top Padding",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 36
    },
    {
      "type": "range",
      "label": "Bottom Padding",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 36
    },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "label": "Desktop Content Position",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
         {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }
    ],
    "blocks":[
      {
        "name": "Heading",
        "type": "heading",
        "settings":[
          {
            "type": "richtext",
            "label": "Heading",
            "id": "title",
            "default": "<p>Heading</p>"
          }
        ]
      },
      {
        "name": "Sub-Heading",
        "type": "sub-heading",
        "settings":[
          {
            "type": "text",
            "label": "Sub-Heading",
            "id": "title",
            "default": "Sub-Heading"
          }
        ]
      },
      {
        "name": "Description",
        "type": "description",
        "settings":[
          {
            "type": "richtext",
            "label": "Description",
            "id": "title",
            "default": "<p> Below is an example of a Shopify image with text section that includes condition statements for changing the image position (left or right) and text alignment (left, center, or right). It uses Liquid and HTML to handle the conditions:</p>"
          }
        ]
      },
      {
        "name": "Button",
        "type": "button",
        "settings":[
          {
            "type": "header",
            "content": "Primary Button"
          },
          {
            "type": "text",
            "label": "Button Title",
            "id": "primary-button",
            "default": "Button"
          },
          {
            "type": "url",
            "label": "Button Link",
            "id": "primary-button-link"
          },
           {
            "type": "header",
            "content": "Secondary Button"
          },
          {
            "type": "text",
            "label": "Button Title",
            "id": "secondary-button",
            "default": "Button"
          },
          {
            "type": "url",
            "label": "Button Link",
            "id": "secondary-button-link"
          }
        ]
      }
    ],
    "presets":[
      {
         "name": "Image With Text",
         "blocks": [
            {
              "type": "sub-heading"
            },
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "button"
            }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}