{{ 'journey.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
 
     {% assign mobile_per_row = section.settings.mobile-per-row%} 
    {%  if block.size > 4 %}{% assign desktop_per_row = 4 %} {% else %}{% assign desktop_per_row = section.settings.block-per-row%} {% endif %}
       

<div class="doctor-journey section-{{ section.id }}-padding" style="background:{{section.settings.bg-color}};">
<div class="{{ section.settings.width }}{% if section.settings.width == 'page-width--narrow' %} page-width {% endif %}">
  <div class="doctor-journey-content">
    <div class="doctorJrn-header">
         {% if section.settings.title != blank %}
      <h1 class="SectionTitle" style="color:{{ section.settings.titleColor  }};">{{ section.settings.title }}</h1>
       {% endif %}
       {% if section.settings.sub_title != blank %}
          <h2  class="sub-tilte" style="color: {{ section.settings.subColor }}" >{{ section.settings.sub_title }}</h2>
         {% endif %}
    
    </div>
     <div class="doctorJrn-content CollectionnGrid colls-{{ desktop_per_row  }}" >
       {% for block in section.blocks %}
         <div class="GridItem doctorJrn-blocks radius-30 overflow-hidden" style="background:{{block.settings.bg-color}};">
           {% if section.settings.artwork != blank and section.settings.artwork contains 'svg' %}
             <div class="Doctor-Artwork">
              {{ section.settings.artwork }}
             </div>
             {% endif %}
         <div class="DoctoreContent">
            {% if block.settings.title != blank %}
          <h2 style="color:{{ block.settings.titleColor }};">{{block.settings.title}}</h2>
          {% endif %}
          {% if block.settings.sub-title != blank %}
          <h3 style="color:{{ block.settings.subColor }};">{{block.settings.sub-title}}</h3>
          {% endif %}
         </div>
          {% if block.settings.image != blank %} 
            {%- capture classes -%}radius-30 overflow-hidden {%- endcapture -%}
           {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
          {{ block.settings.image | image_url: width: 1500 | image_tag:
            loading: 'lazy',
            sizes: sizes,
            class: classes,
            widths: '165, 360, 535, 750, 1070, 1500'
          }}
                {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.more_info != blank %}
          <div class="ReadMoreDoc">
           <button class="button" data-fancybox data-src="#dialog-content{{ block.id }}">{{ block.settings.read_info }}</button>
          </div>
          <div id="dialog-content{{ block.id }}" style="display:none;max-width:1100px;width: 95%;">
          <div class="boxDorct">
            <div class="drProfilePic" style="background:{{block.settings.bg-color}};">
              <div class="Doctor-Artwork">
              {{ section.settings.artwork }}
             </div>
              {% if block.settings.image != blank %} 
          {{ block.settings.image | image_url: width: 1500 | image_tag:
            loading: 'lazy',
            sizes: sizes,
            widths: '165, 360, 535, 750, 1070, 1500'
          }}
                {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
            </div>
            <div class="darInfo">
            {% if block.settings.title != blank %}
            <h2>{{block.settings.title}}</h2>
            {% endif %}
            {% if block.settings.sub-title != blank %}
            <h3>{{block.settings.sub-title}}</h3>
            {% endif %}
           <div class="rte">
            {{ block.settings.more_info }}
           </div>
            </div>
          </div>
          </div>
          {% endif %}
       </div>
         {% endfor %}
         <script>
          Fancybox.bind("[data-fancybox]", {
          // Your custom options
          });
         </script>
    </div> 
    <div class="doctorJrn-button text-center" >
      {% if section.settings.button_text or section.settings.button_url != blank %}
      <a class="button"href ="{{section.settings.button_url}}">{{section.settings.button_text}}</a> 
      {% endif %}
    </div>
</div>
</div>
</div>
{% schema %}
  {
    "name": "Journery",
    "settings": [
      {
        "type": "select",
        "id": "width",
        "label": "Page width",
        "options": [
          {
            "value": "full-width",
            "label": "Full Width"
          },
          {
            "value": "page-width--narrow",
            "label": "Narrow Width"
          },
          {
            "value": "page-width",
            "label": "Page Width"
          }
        ]
       },
       {
        "type": "range",
        "id": "block-per-row",
        "label": "Block Per Row Desktop",
        "max":4,
        "min":2,
        "default":3
       },
       {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "mobile per row",
      "options": [
        {
          "value": "1",
          "label": "One Column"
        },
        {
          "value": "2",
          "label": "Two Columns"
        }
      ]
    },
    
      {
        "type": "color_background",
        "id": "bg-color",
        "label": "Background-color"
         },
      {
        "type": "html",
        "id": "artwork",
        "label": "artwork SVG",
        "info": "please Use SVG Code"
      },
      {
        "type": "color",
        "id": "titleColor",
        "label": "Title Color",
        "default": "#000"
      },  
       {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
       {
      "type": "color",
      "id": "subColor",
      "label": "Sub-Heading Color",
      "default": "#000"
    },
    {
          "type": "text",
          "label": "Sub Title",
          "id": "sub_title"
        },  
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 36
    }  
    ],
    "blocks":[
      {
        "type":"header",
        "name":"Journy Block",
        "settings":[
          {
            "type": "color_background",
            "id": "bg-color",
            "label": "Background-color"
            },
           
           {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Heading"
      },
      {
        "type": "color",
        "id": "titleColor",
        "label": "Title Color",
        "default": "#000"
      },    
       {
        "type": "text",
        "id": "sub-title",
        "default": "Sub-Title",
        "label": "Sub Heading"
      },
      {
        "type": "color",
        "id": "subColor",
        "label": "Sub-Title Color",
        "default": "#000"
      },     
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
       {
          "type": "richtext",
         "id": "more_info",
         "label": "More Information",
         "default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
       },
       {
          "type": "text",
         "id": "read_info",
         "label": "Button Text",
         "default": "Read More"
       }      
      ]
      }
    ],
     "presets":[
      {
        "name":"Journery"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}