<style>
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
</style>
<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="CartPage {% if section.settings.width == 'full-width' %}full-width{% elsif section.settings.width == 'wrapper-width' %}page-width{% else %} narrow-width {% endif %}" >
                        
{% if cart.item_count > 0 %}
  <div class="CartItemWrapper">
  <h1>Your Bag</h1>
  <form action="/cart" method="post" novalidate class="cart table-wrap">
    <div class="CartTotal">
        <h4><span>Total:</span> <span id="cart__total_price"><p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p></span></h4>
        <button  id="cart_checkout_btn"type="submit" name="checkout" class="cta-btn primary-button">checkout</button>
    </div>
    <div class="CartItemContainer">
     <div class="cartItemBox" id="CartBox">
        <div id="cart_items">
        {%  for item in cart.items %}
         <div class="item-details border-all"  dataline="{{ forloop.index }}" dataid="{{ item.variant_id }}">
        <div class="cart_image_text">
        <div class="cart_details ">
         <p>{{ item.product.title }}</p>
        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                <dl>
                  {%- if item.product.has_only_default_variant == false -%}
                    {%- for option in item.options_with_values -%}
                      <div class="product-option">
                        <dd>{{ option.value }}</dd>
                      </div>
                    {%- endfor -%}
                  {%- endif -%}
        
                  {%- for property in item.properties -%}
                    {%- assign property_first_char = property.first | slice: 0 -%}
                    {%- if property.last != blank and property_first_char != '_' -%}
                      <div class="product-option">
                        <dt>{{ property.first }}: </dt>
                        <dd>
                          {%- if property.last contains '/uploads/' -%}
                            <a href="{{ property.last }}" class="link" target="_blank">
                              {{ property.last | split: '/' | last }}
                            </a>
                          {%- else -%}
                            {{ property.last }}
                          {%- endif -%}
                        </dd>
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </dl>
        
                <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
              {%- endif -%}
         <p>{{ item.final_price | money}}</p> 
        
        </div>
        <div class="cart-item-image ">
        <img class="feature-image radius-10 overflow-hidden" height="{{ item.image.height }}" width="{{ item.image.width }}"
        src="{{ item.image| img_url: '160x' }}"
        alt="{{ item.image.alt | escape }}"
        loading="lazy">
        </div>
        </div>
        <div class="cart_bottom border-top">
        <div class="remove" url="/cart/change?line={{ forloop.index }}&amp;quantity=0" onclick='removeItem(this)' }}>
         {%  render'icon-delete' %}
        </div>
        <div class="quantity-filed">
        <div class="quantity_button" name="minus" type="button" onclick ="removeQuantity(this)" data-id="{{ item.variant_id }}"  data-variant ="{{ item.quantity }}" >
         {%  render'icon-minus' %}
        </div>
        <input type="text" id="variant-quantity" name="quantity" value="{{ item.quantity }}" readonly >
        <div onclick="addQuantity(this)" data-id="{{ item.variant_id }}"  data-variant ="{{ item.quantity }}" class="quantity_button" name="pluse" type="button">
        {%  render'icon-plus' %}
        </div>
        </div>
        <div class="TotleItemPrice">
         {{ item.final_price | times: item.quantity | money }}
        </div>
        </div>
        </div>
        {%  endfor %}
        </div>
      </div>
     <div class="cartSideBar">
      <div class="discount­code­field"> 
        <h5>SUPPORT CODE</h5>
        <label for="discount">Support your favorite athletes or discount code</label> 
        <input autocomplete="off" type="text" name="discount" placeholder="Enter Code"/> 
      </div> 
        <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons }}
        </div>
     </div>
     </div>
  </form>
  </div>
{% else %}
  <div class="CartEmptyWrapper">
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>
{% endif %}
<div class="drawerProducts color-{{ section.settings.color_scheme }}">
  <h5>{{ section.settings.recomended }}</h5>
  {% if cart.items != 0 %}
  {% assign item = cart.items.first %}
  {% for collection in item.product.collections %}
  {% assign collectionHandle = collection.handle %} 
  {% endfor %}
  {% if collectionHandle != blank %}
  {% assign collection = collections[collectionHandle] %}
    {% else %}
    {% assign collection = collections['all'] %}
    {% endif %}
  {% else %}
  {% assign collection = collections['all'] %}
  {% endif %}
<div class="CratDrawerSlider swiper">
  <div class="swiper-wrapper">
  {% for product in collection.products limit: 8 %}
  <div class="featured-product swiper-slide">
  {% render 'product-grid', card_product:product %}
  </div>
  {% endfor %}
  </div>
  <div class="CartDrawerNext swiper-button-next swiper-next secondary-button"></div>
  <div class="CartDrawerPrev swiper-button-prev swiper-prev secondary-button"></div>
</div>
</div>
  </div>
</div>

{% schema %}
  {
    "name": "Cart",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Choose Color Schema",
        "default": "background-1"
      },
      {
      "type": "select",
      "id": "width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "wrapper-width",
          "label": "Wrapper Width"
        },
        {
          "value": "narrow-width",
          "label": "Narrow width"
        }
      ],
      "default": "wrapper-width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
     {
        "type": "text",
        "id": "recomended",
        "label": "Recommended Product Heading",
        "default": "RECOMMENDED PRODUCTS"
      },
       {
        "type": "text",
        "id": "empty_massage",
        "label": "Empty Message",
        "default": "GIVE YOUR BAG SOME LOVE"
      } 
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}