{{ 'main-hero-slides.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet"href="{{ 'swiper.css' | asset_url }}"/>
<script src="{{ 'swiper.js' | asset_url }}"></script>
{%  style %}
.SwiperSlider-{{ section.id }}::after {
    content: "";
    background:{{ section.settings.overlayColor}};
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{% endstyle %}
<div class="herobanner SwiperSlider-{{ section.id }}">
  <div class="HeroBannerContent"> 
    {%  if section.settings.art_image != blank and section.settings.art_image contains 'svg' %}
     <div class="ArtImage">
      {{ section.settings.art_image }}
    </div>
    {% endif %}
   
    <div class="bgimage">
      {%  if section.settings.bg_image != blank %}
      {{ section.settings.bg_image | image_url: width: 1500 | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '165, 360, 535, 750, 1070, 1250, 1500'
              }}
        {% else %}
         {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
    </div>
    {%  if section.blocks.size > 0 %}
      <div class="ImageSlider swiper">
       <div class="swiper-wrapper"> 
    {% for block in section.blocks %}
         <div class="sliderImage swiper-slide" data-swiper-autoplay="2000">
           {%  if block.settings.image != blank %}
 {{ block.settings.image | image_url: width: 1500 | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '165, 360, 535, 750, 1070, 1250, 1500'
              }}
           {% else %}
             
         {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
          
             {% endif %}
             {%  if block.settings.richtext != blank %}
               {%  style %}
                  .SlideTextContent .tcolor-{{ section.id }}-{{ block.id }} p{
                    color: {{ block.settings.textColor }}
                  }
                 {% endstyle %}
              <div class="SlideTextContent tcolor-{{ section.id }}-{{ block.id }}">
               {{ block.settings.richtext }}
              </div>
               {% endif %}
         </div>
    {%  endfor %}
      </div>
      </div>
      {% endif %}
      <div class="ContentBoxArea">
      <div class="ContentBox">
      {% if section.settings.sub_title != blank %}
      <h2 class="sub-tilte" style="color: {{ section.settings.subColor  }};">{{ section.settings.sub_title }}</h2>
        {% endif %}
      {%  if section.settings.title != blank %}
      <h1 class="Banner_Title" style="color: {{ section.settings.titleColor  }};">{{ section.settings.title }}</h1>
      {% endif %}
      {% if section.settings.button != blank or section.settings.button_2 != blank or section.settings.embedBtn2 != blank or section.settings.embedBtn1 != blank %}
        <div class="ButtonBox {% if section.settings.btn_down %} small-hide {% endif %}">
          {%  if section.settings.button != blank %}
        <a class="button button--primary" href="{{ section.settings.link }}">{{ section.settings.button }}</a>
            {% endif %}
        {%  if section.settings.button_2 != blank %}
          <a class="button button--secondary" href="{{ section.settings.link_2 }}">{{ section.settings.button_2 }}</a>
          {% endif %}
            {% if section.settings.embedBtn != blank %}
         
          {{ section.settings.embedBtn }}
         
          {% endif %}
         {% if section.settings.embedBtn2 != blank %}
         
          {{ section.settings.embedBtn2 }}
         
          {% endif %}
        </div>
        {% endif %}
    
      </div>
      </div>
   </div>
  {% if section.settings.btn_down %}
 {% if section.settings.button != blank or section.settings.button_2 != blank or section.settings.embedBtn2 != blank or section.settings.embedBtn1 != blank %}
        <div class="ButtonBox {% if section.settings.btn_down %} large-up-hide medium-hide {% endif %}">
          {%  if section.settings.button != blank %}
        <a class="button button--primary" href="{{ section.settings.link }}">{{ section.settings.button }}</a>
            {% endif %}
        {%  if section.settings.button_2 != blank %}
          <a class="button button--secondary" href="{{ section.settings.link_2 }}">{{ section.settings.button_2 }}</a>
          {% endif %}
            {% if section.settings.embedBtn != blank %}
         
          {{ section.settings.embedBtn }}
         
          {% endif %}
   {% if section.settings.embedBtn2 != blank %}
         
          {{ section.settings.embedBtn2 }}
         
          {% endif %}
        </div>
        {% endif %}
    {% endif %}
</div>
<script>
const Heroswiper{{ section.id }} = new Swiper('.SwiperSlider-{{ section.id }} .swiper', {
  loop: true,
  effect: 'fade',
  longSwipes: true,
  slidesPerView: 1,
  autoplay: false,
  centeredSlides: true,
  on: {
        slideChange: function () {
          var activeIndex = this.activeIndex;
          const RotateImage = document.querySelectorAll('.SwiperSlider-{{ section.id }} .ArtImage svg')[0]
          const rotageValue = parseInt(RotateImage.getAttribute("rotate"))+45;
          RotateImage.setAttribute("rotate", rotageValue);
          RotateImage.style.transform = "rotate("+rotageValue+"deg)";
        },
      }
  });
 
const SwipeBox = document.querySelectorAll('.SwiperSlider-{{ section.id }} .HeroBannerContent')[0]
  SwipeBox.addEventListener('mouseover', function() {
   const BgImage = document.querySelectorAll('.SwiperSlider-{{ section.id }} .bgimage')[0] 
   const RotateImage = document.querySelectorAll('.SwiperSlider-{{ section.id }} .ArtImage svg')[0]
          BgImage.style.left = '-50%';
          RotateImage.setAttribute("rotate", 45);
          RotateImage.style.transform = "rotate(45deg)";
     swiper.autoplay.start();
});
   SwipeBox.addEventListener('mouseleave', function() {
     const RotateImage = document.querySelectorAll('.SwiperSlider-{{ section.id }} .ArtImage svg')[0];
     const BgImage = document.querySelectorAll('.SwiperSlider-{{ section.id }} .bgimage')[0] 
          BgImage.style.left = '0';
          RotateImage.setAttribute("rotate", 0);
          RotateImage.style.transform = "rotate(0deg)";
     swiper.autoplay.stop();
});
</script>
{% schema %}
  {
    "name": "Main Hero Slide",
    "settings": [
        {
          "type": "image_picker",
          "label": "Background Image",
          "id": "bg_image"
        },
        {
          "type": "color_background",
          "id": "overlayColor",
          "label": "Overlay Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "Overlay Opacity",
          "default": 0
        },
        {
          "type": "color",
          "id": "subColor",
          "label": "Sub Title Color",
          "default": "#000"
        },
        {
          "type": "text",
          "label": "Sub Title",
          "id": "sub_title"
        },
        {
          "type": "color",
          "id": "titleColor",
          "label": "Title Color",
          "default": "#000"
        },
        {
          "type": "text",
          "label": "Section Title",
          "id": "title"
        },
        {
          "type": "checkbox",
          "label": "Btn Box Mobile Bottom",
          "id": "btn_down"
        },
        {
          "type": "text",
          "label": "Button Title",
          "id": "button",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "link"
        },
        {
          "type": "text",
          "label": "Button Title",
          "id": "button_2",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "link_2"
        },
        {
          "type": "html",
          "label": "Embeded Button 1",
          "id": "embedBtn",
          "info": "Please use HTML Code"
        },
      {
          "type": "html",
          "label": "Embeded Button 2",
          "id": "embedBtn2",
          "info": "Please use HTML Code"
        },
        {
          "type": "html",
          "label": "Art Image",
          "id": "art_image",
          "info": "Please use SVG Code"
        }
      
    ],
    "blocks":[
      {
        "type": "image_slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "textColor",
            "label": "Text Color",
            "default": "#000"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "richtext"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Main Hero Slides",
      "blocks": [
        {
          "type": "image_slide"
        },
        {
          "type": "image_slide"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}