<style>
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
</style>
<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="CustomerResetPasswordPage {% if section.settings.width == 'full-width' %}full-width{% elsif section.settings.width == 'wrapper-width' %}page-width{% else %} narrow-width {% endif %}">
<div class="CustomerInfo border-all radius-30">
    <div class="template_header center">
      <h2 class="title">Reset Account Password</h2>
      <p class="note">Enter a new password for {{ email }}</p>
    </div>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}
      <div id="password" class="clearfix large_form">
        <label class="large" for="password">Password</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation">Password Confirmation</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="btn" type="submit" value="Reset Password" />
      </div>
    {% endform %}
</div>
  </div>
</div>

{% schema %}
  {
    "name": "Customer Rest Password",
    "settings": [
      {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Choose Color Schema",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "wrapper-width",
          "label": "Wrapper Width"
        },
        {
          "value": "narrow-width",
          "label": "Narrow width"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_bottom",
      "default": 36
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}