<style>
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
</style>
<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="ArticlePage {% if section.settings.width == 'full-width' %}full-width{% elsif section.settings.width == 'wrapper-width' %}page-width{% else %} narrow-width {% endif %}" >
{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<div class="grid">
  <article class="grid__item large--three-quarters" itemscope itemtype="http://schema.org/Article">
    <header class="section-header">
      <div class="section-header__left">
        <h1>{{ article.title }}</h1>
        {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
        {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
        <p>{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
      </div>
    </header>
    <div class="rte" itemprop="articleBody">
      {{ article.content }}
    </div>
    <ul class="inline-list">
      {% if article.tags.size > 0 %}
      <li>
        <span>{{ 'blogs.article.tags' | t }}:</span>
        {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
    </ul>
    {% if blog.next_article or blog.previous_article %}
      <hr>
      <div class="clearfix">
        {% if blog.previous_article %}
          <span class="left">
          <a href="{{ blog.previous_article.url }}" class="button secondary-button">Prev</a>
          </span>
        {% endif %}
        {% if blog.next_article %}
          <span class="right">
          <a href="{{ blog.next_article.url }}" class="button primary-button">Next</a>
          </span>
        {% endif %}
      </div>
    {% endif %}

    {% if blog.comments_enabled? %}
      <h2 class="h3">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
      {% paginate article.comments by 5 %}
       
        <div id="comments">

          {% if comment and comment.created_at %}
            <p class="note form-success">
              {% if blog.moderated? %}
                {{ 'blogs.comments.success_moderated' | t }}
              {% else %}
                {{ 'blogs.comments.success' | t }}
              {% endif %}
            </p>
          {% endif %}

          {% if number_of_comments > 0 %}
            <ul class="no-bullets">
              {% if comment and comment.created_at %}
                <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                  <div class="comment">
                <div class="rte">
                {{ comment.content }}
                </div>
                <span>
                {% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
                {% capture date %}<strong><time datetime="{{ comment.created_at | date: '%Y-%m-%d' }}">{{ comment.created_at | date: format: 'month_day_year' }}</time></strong>{% endcapture %}
                {{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
                </span>
                </div>
                </li>
              {% endif %}
              {% for comment in article.comments %}
                <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                <div class="comment">
                <div class="rte">
                {{ comment.content }}
                </div>
                <span>
                {% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
                {% capture date %}<strong><time datetime="{{ comment.created_at | date: '%Y-%m-%d' }}">{{ comment.created_at | date: format: 'month_day_year' }}</time></strong>{% endcapture %}
                {{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
                </span>
                </div>
                </li>
                {% unless forloop.last %}
                  <li><hr></li>
                {% endunless %}
              {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
            {% endif %}
          {% endif %}
          <div class="form-vertical">
            {% form 'new_comment', article %}
              <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>
              {{ form.errors | default_errors }}
              <div class="grid">
                <div class="grid__item">
                  <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                  <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" autocapitalize="words">

                  <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                  <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                </div>

                <div class="grid__item">
                  <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
                  <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                </div>

              </div>

              {% if blog.moderated? %}
                <p>{{ 'blogs.comments.moderated' | t }}</p>
              {% endif %}
              <button type="submit" class="primary-button button">{{ 'blogs.comments.post' | t }}"></button>
            {% endform %}
          </div>
        </div>
      {% endpaginate %}
    {% endif %}
  </article>

  </div>
</div>

{% schema %}
  {
    "name": "Article",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Choose Color Schema",
        "default": "background-1"
      },
      {
      "type": "select",
      "id": "width",
      "label": "Page width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "wrapper-width",
          "label": "Wrapper Width"
        },
        {
          "value": "narrow-width",
          "label": "Narrow width"
        }
      ],
      "default": "narrow-width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}