<div id="nav-quick-search">
  <div id="nav-quick-search-backdrop" onclick="hideModal(this)" class="w-full  cursor-pointer"></div>
  <div id="nav-quick-search-container"  class="boxSearch color-{{ section.settings.color_scheme }}">
    <div class="w-full h-full flex flex-col ">
      <div class="search-bar-container">
        <div class="search-bar">
          <input type="text" placeholder="{{ section.settings.search_label }}" tabindex="1" class="">
          <button class="button" style="display: none;">
            <svg id="" data-name="Backspace Icon" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 576 512" class="icon-backspace w-full max-w-[2rem] fill-secondary">
              <path d="M576 384C576 419.3 547.3 448 512 448H205.3C188.3 448 172 441.3 160 429.3L9.372 278.6C3.371 272.6 0 264.5 0 256C0 247.5 3.372 239.4 9.372 233.4L160 82.75C172 70.74 188.3 64 205.3 64H512C547.3 64 576 92.65 576 128V384zM271 208.1L318.1 256L271 303C261.7 312.4 261.7 327.6 271 336.1C280.4 346.3 295.6 346.3 304.1 336.1L352 289.9L399 336.1C408.4 346.3 423.6 346.3 432.1 336.1C442.3 327.6 442.3 312.4 432.1 303L385.9 256L432.1 208.1C442.3 199.6 442.3 184.4 432.1 175C423.6 165.7 408.4 165.7 399 175L352 222.1L304.1 175C295.6 165.7 280.4 165.7 271 175C261.7 184.4 261.7 199.6 271 208.1V208.1z"></path></svg>
          </button>
        </div>
      </div> 
      <div class="search-container scroll-bar">
        <div class="grid">
          <div class="col-span-full grid grid-cols-2 gap-[2rem] w-full pb-[3rem] border-b border-secondary/20">
            <div class="popular-searches flex-1 flex flex-col items-start">
              <p class="font-secondary uppercase text-[1.3rem] pb-[0.5rem]">
                <span>{{ section.settings.populer-serach-heading }}</span>
              </p> 
              {% for block in section.blocks %}
                {% if block.settings.title != blank %}
                <button class="pb-[2px] mb-[2px] text-[1.2rem] relative snakify-in">{{ block.settings.title }}</button> 
                {% endif %}
              {% endfor %}
            </div>
            </div>
          <p class="font-secondary uppercase text-[1.3rem] col-span-full w-[70%]">{{ section.settings.populer-products }}</p> 
          <div class="CollectionnGrid colls-{{ section.settings.product-per-row }}">
            {% if section.settings.collection != blank %}
          {% assign collection = collections[section.settings.collection] %}
              {% else %}
              {% assign collection = collections['all'] %}
              {% endif %}
          {% for product in collection.products limit: 8 %}
          <div class="GridItem featured-product swiper-slide">
          {% render 'product-grid', card_product:product %}
          </div>
          {% endfor %}
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Quick Search",
    "limit": 1,
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Choose Color Schema",
        "default": "background-1"
      },
      {
        "type": "text",
        "id": "search_label",
        "label": "Search Input Name",
        "default": "Search products..."
      },
      {
        "type": "text",
        "id": "populer-serach-heading",
        "label": "Populer Search Heading",
        "default": "POPULAR SEARCHES"
      },
      {
        "type": "text",
        "id": "populer-products",
        "label": "Populer Products Heading",
        "default": "TRANDING PRODUCTS"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Choose Tranding Collection"
      },
      {
        "type": "range",
        "id": "product-per-row",
        "min": 0,
        "max": 5,
        "step": 1,
        "label": "padding_top",
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "search-tag",
        "name": "Search Keywords",
        "settings": [
          {
            "type": "text",
            "label": "Tag Title",
            "id": "title"
          }
        ]
      }
    ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}