{%  style %}
.section-{{ section.id }}-padding{
padding-top:{{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom:{{ section.settings.padding_bottom | times: 0.75 |round: 0 }}px;
}
  @media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{% endstyle %}
<section class="page-width text-center color-{{ section.settings.color_scheme }}">
  {%- if section.settings.title != blank -%}
    <h2 class="heading">{{ section.settings.title | escape }}</h2>
  {%- endif -%}
  {%- if section.settings.text != blank -%}
    <div class="rte">
      {{ section.settings.text }}
    </div>
  {%- endif -%}
</section>

{% schema %}
  {
    "name": "Rich Text",
    "settings": [
      {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Choose Color Schema",
      "default": "background-1"
    },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ],
    "presets": [{
        "name": "Rich text",
        "category": "Text"
    }]
  }
{% endschema %}
