
<style>
  .tabimage {
  display: none;
  }
  .tabimage.active {
  transition: all 1s ease;
  display: block;
  }
</style>

<div class="{% if section.settings.width =='full-width'%}full-width{% else %}page-width{% endif %}">
  <div class="product-range-wrapper">
    
     <div class="product-range-content">
       <div class="wrapper_tabcontent">
       {% for block in section.blocks %}
         {% if block.settings.title != blank %}
           <div id="Tab-{{ section.id  }}{{ forloop.index }}" class="TabContent-{{ section.id  }} tabimage {% if forloop.index == 1 %}active{% endif %}">
          <div class="product-range-blocks" style="{% if block.settings.bg-image != blank %}background-image: url({{block.settings.bg-image  | img_url :'1920x' }});{% else %} background:{{ block.settings.bg-color }};{% endif %}">
             {% if block.settings.image != blank %}
              <img src="{{block.settings.image |img_url:'' }}">
              {% else %}
               {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            </div>
           </div>
          {% endif %}
         {% endfor %}
       </div>
           <div class="tabs">
         {% for block in section.blocks %}
          <div class="Tab-{{ section.id  }} tablinks {% if forloop.index == 1 %}active{% endif %}" data-id="Tab-{{ section.id  }}{{ forloop.index }}">
           {% if block.settings.title != blank %}
            <span>{{ block.settings.title }}</span>
            {% endif %}
           </div>
          {% endfor %}
          </div>
     </div>
  </div>
</div>
<script>
  // tabs

var tabLinks = document.querySelectorAll(".Tab-{{ section.id  }}");
var tabContent = document.querySelectorAll(".TabContent-{{ section.id  }}");


tabLinks.forEach(function(el) {
   el.addEventListener("click", openTabs);
});


function openTabs(el) {
   var btnTarget = el.currentTarget;
   var id = btnTarget.dataset.id;

   tabContent.forEach(function(el) {
      el.classList.remove("active");
   });

   tabLinks.forEach(function(el) {
      el.classList.remove("active");
   });

   document.querySelector("#" + id).classList.add("active");
   
   btnTarget.classList.add("active");
}

</script>

{% schema %}
  {
    "name": "Product Range Tab",
    "settings": [
       {
        "type": "select",
        "id": "width",
        "label": "Page width",
        "options": [
          {
            "value": "full-width",
            "label": "Full Width"
          },
          {
            "value": "page-width",
            "label": "Page Width"
          }
        ]
       },
       {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
      
      ],
      "blocks":[
      {
        "type":"content",
        "name":"content",
        "settings":[
          {
        "type": "color_background",
        "id": "bg-color",
        "label": "Background-color"
         },
          {
        "type": "image_picker",
        "id": "bg-image",
        "label": " Background Image"
       },
           {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
       },
        {
        "type": "text",
        "id": "title",
        "label": "Block Title"
       }
       ]
       }
      
    ],
    "presets":[
      {
        "name":"Product Rnge Tab"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}